<!DOCTYPE html>
<html>
    <head>
        <title>
            Home
        </title>
        <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
        <!-- Google Fonts -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
        <!-- Bootstrap core CSS -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
        <!-- Material Design Bootstrap -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
    </head>
    <body>
{{>header}}

<!--------------Banner---------------->
<div class="container-fluid z-depth-1">


  <!--Section: Content-->
  <section class="dark-grey-text">

    <div class="row pr-lg-5">
      <div class="col-md-7 mb-4">

        <div class="view">
          <img src="https://mdbootstrap.com/img/illustrations/graphics(4).png" class="img-fluid" alt="smaple image">
        </div>

      </div>
      <div class="col-md-5 d-flex align-items-center">
        <div>
          
          <h3 class="font-weight-bold mb-4">Material Design Blocks</h3>

        	<p>Lorem ipsum dolor sit amet consectetur adip elit. Maiores deleniti explicabo voluptatem quisquam nulla asperiores aspernatur aperiam voluptate et consectetur minima delectus, fugiat eum soluta blanditiis adipisci, velit dolore magnam.</p>

        	<a href="" class="btn btn-default btn-rounded my-3" data-toggle="modal" data-target="#modalLRForm">LogIn/Register</a>

        </div>
      </div>
    </div>

  </section>
  <!--Section: Content-->


</div>
<!------------------/Banner----------------------->


<!-----------------------Service------------------->
  <div class="container py-5  z-depth">
  <section class="p-md-3 mx-md-5 text-lg-left">
    <h2 class="font-weight-bold text-center mb-5 pb-3">Features</h2>
    <div class="row text-center d-flex justify-content-center">
      <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
        <i class="fas fa-map-marker-alt fa-3x indigo-text mb-4"></i>
        <h4 class="font-weight-bold mb-4">Feature 1</h4>
        <p class="text-muted px-2 mb-lg-0">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </div>
      <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
        <i class="far fa-map pink-text fa-3x mb-4"></i>
        <h4 class="font-weight-bold mb-4">Feature 2</h4>
        <p class="text-muted px-2 mb-lg-0">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </div>
      <div class="col-lg-3 col-md-6 mb-md-0 mb-5">
        <i class="fas fa-globe-africa fa-3x amber-text mb-4"></i>
        <h4 class="font-weight-bold mb-4">Feature 3</h4>
        <p class="text-muted px-2 mb-md-0">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </div>
      <div class="col-lg-3 col-md-6 mb-md-0 mb-5">
        <i class="fas fa-street-view fa-3x green-text mb-4"></i>
        <h4 class="font-weight-bold mb-4">Feature 4</h4>
        <p class="text-muted px-2 mb-md-0">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </div>
    </div>
  </section>
</div>
<!----------------------------/Services------------------>

<!-----------------Team--------------------------------->
<div class="container  p-5 z-depth">

  
  <!--Section: Content-->
  <section class="text-center dark-grey-text">
    
    <h6 class="font-weight-bold text-center grey-text text-uppercase small mb-4">Team</h6>
    <!-- Section heading -->
    <h3 class="font-weight-bold text-center dark-grey-text pb-2">Executive Team</h3>
    <hr class="w-header my-4">
    <!-- Section description -->
    <p class="text-center text-muted w-responsive mx-auto mb-5">Enim ad minim exercitation ullamco laboris nisi ut ex aliquip.</p>

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-3 mb-4">

        <div class="view z-depth-1 mb-4">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(1).jpg" class="img-fluid mx-auto" alt="smaple image">
        </div>
        <h6 class="font-weight-bold">Alicia Deyns</h6>
        <small class="text-muted">Co-funder & CEO</small>
        <ul class="list-unstyled d-flex justify-content-center mt-3 mb-0 text-muted">
          <li><i class="fab fa-twitter mx-2"></i></li>
          <li><i class="fab fa-facebook-f mx-2"></i></li>
          <li><i class="fab fa-instagram mx-2"></i></li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-4">

        <div class="view z-depth-1 mb-4">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(9).jpg" class="img-fluid mx-auto" alt="smaple image">
        </div>
        <h6 class="font-weight-bold">Tommy Brian</h6>
        <small class="text-muted">Co-funder & CTO</small>
        <ul class="list-unstyled d-flex justify-content-center mt-3 mb-0 text-muted">
          <li><i class="fab fa-twitter mx-2"></i></li>
          <li><i class="fab fa-facebook-f mx-2"></i></li>
          <li><i class="fab fa-instagram mx-2"></i></li>
        </ul>

      </div>
      <!-- Grid column -->
      
      <!-- Grid column -->
      <div class="col-md-3 mb-4">

        <div class="view z-depth-1 mb-4">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(18).jpg" class="img-fluid mx-auto" alt="smaple image">
        </div>
        <h6 class="font-weight-bold">Kate Witson</h6>
        <small class="text-muted">Lead Developer</small>
        <ul class="list-unstyled d-flex justify-content-center mt-3 mb-0 text-muted">
          <li><i class="fab fa-twitter mx-2"></i></li>
          <li><i class="fab fa-facebook-f mx-2"></i></li>
          <li><i class="fab fa-instagram mx-2"></i></li>
        </ul>

      </div>
      <!-- Grid column -->
      
      <!-- Grid column -->
      <div class="col-md-3 mb-4">

        <div class="view z-depth-1 mb-4">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(31).jpg" class="img-fluid mx-auto" alt="smaple image">
        </div>
        <h6 class="font-weight-bold">Barbara Lenny</h6>
        <small class="text-muted">Designer</small>
        <ul class="list-unstyled d-flex justify-content-center mt-3 mb-0 text-muted">
          <li><i class="fab fa-twitter mx-2"></i></li>
          <li><i class="fab fa-facebook-f mx-2"></i></li>
          <li><i class="fab fa-instagram mx-2"></i></li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->
    
  </section>
  <!--Section: Content-->


</div>
<!-----------------/Team--------------------------------->

<!---------------------------Services2--------------------->
<div class="container my-5">

  <!-- Section -->
  <section>

    <h6 class="font-weight-bold text-center grey-text text-uppercase small mb-4">Services</h6>
    <h3 class="font-weight-bold text-center dark-grey-text pb-2">Our Services</h3>
    <hr class="w-header my-4">
    <p class="lead text-center text-muted pt-2 mb-5">Join thousands of satisfied customers using our template
      globally.</p>

    <div class="row">

      <div class="col-md-6 col-xl-3 mb-4">
        <div class="card text-center bg-success text-white">
          <div class="card-body">
            <p class="mt-4 pt-2"><i class="far fa-object-ungroup fa-4x"></i></p>
            <h5 class="font-weight-normal my-4 py-2"><a class="text-white" href="#">Web Design</a></h5>
            <p class="mb-4">He polite be object change. Consider no overcame yourself sociable children.</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-xl-3 mb-4">
        <div class="card text-center">
          <div class="card-body">
            <p class="mt-4 pt-2"><i class="fas fa-mobile-alt fa-4x grey-text"></i></p>
            <h5 class="font-weight-normal my-4 py-2"><a class="dark-grey-text" href="#">Mobile App</a></h5>
            <p class="text-muted mb-4">He polite be object change. Consider no overcame yourself sociable children.</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-xl-3 mb-4">
        <div class="card text-center deep-purple lighten-1 text-white">
          <div class="card-body">
            <p class="mt-4 pt-2"><i class="fas fa-chart-line fa-4x"></i></p>
            <h5 class="font-weight-normal my-4 py-2"><a class="text-white" href="#">Digital Marketing</a></h5>
            <p class="mb-4">He polite be object change. Consider no overcame yourself sociable children.</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-xl-3">
        <div class="card text-center">
          <div class="card-body">
            <p class="mt-4 pt-2"><i class="fas fa-bullhorn fa-4x grey-text"></i></p>
            <h5 class="font-weight-normal my-4 py-2"><a class="dark-grey-text" href="#">Branding Package</a></h5>
            <p class="text-muted mb-4">He polite be object change. Consider no overcame yourself sociable children.</p>
          </div>
        </div>
      </div>

    </div>

  </section>
  <!-- Section -->

</div>
<!---------------------------/Services2--------------------->


<!----------------------------Counter---------------------->
<div class="container ">


  <!--Section: Content-->
  <section class="p-5 z-depth">
    
    <h3 class="text-center font-weight-bold mb-5">Counter</h3>

    <div class="row d-flex justify-content-center">

      <div class="col-md-6 col-lg-3 mb-4 text-center">
        <h4 class="h1 font-weight-normal mb-3">
          <i class="fas fa-file-alt indigo-text"></i>
          <span class="d-inline-block count-up" data-from="0" data-to="100" data-time="2000">100</span>
        </h4>
        <p class="font-weight-normal text-muted">Unique Page</p>
      </div>

      <div class="col-md-6 col-lg-3 mb-4 text-center">
        <h4 class="h1 font-weight-normal mb-3">
          <i class="fas fa-layer-group indigo-text"></i>
          <span class="d-inline-block count1" data-from="0" data-to="250" data-time="2000">250</span>
        </h4>
        <p class="font-weight-normal text-muted">Block Variety</p>
      </div>

      <div class="col-md-6 col-lg-3 mb-4 text-center">
        <h4 class="h1 font-weight-normal mb-3">
          <i class="fas fa-pencil-ruler indigo-text"></i>
          <span class="d-inline-block count2" data-from="0" data-to="330" data-time="2000">330</span>
        </h4>
        <p class="font-weight-normal text-muted">Reusable Component</p>
      </div>
      
      <div class="col-md-6 col-lg-3 mb-4 text-center">
        <h4 class="h1 font-weight-normal mb-3">
          <i class="fab fa-react indigo-text"></i>
          <span class="d-inline-block count3" data-from="0" data-to="430" data-time="2000">430</span>
        </h4>
        <p class="font-weight-normal text-muted">Crafted Element</p>
      </div>

    </div>

  </section>
  <!--Section: Content-->


</div>
<!-------------------Counter------------->
{{>footer}}
        <!-- JQuery -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- Bootstrap tooltips -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
        <!-- Bootstrap core JavaScript -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <!-- MDB core JavaScript -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>
    </body>
</html>